@media screen and (min-width: 800px) {
    .gridContainer {
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 3fr 0.5fr 23fr;
        grid-gap: 0;
        grid-template-areas:
    "header-container header-container"
    "search search"
    "sidebar product-grid"
    }
}

.titleBar{
    position: fixed;
    min-width: 100%;
    background-color: whitesmoke;
}



