.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/about/Screenshot 2022-09-06 at 19.07 1.webp');
    background-size: cover;
    background-position: center;
    height: 275px;
    width:100%;
    color: white;
    font-size: 3em;
    font-family: "Reckless Neue TRIAL",serif;
}

.headerContainer {
    grid-area: header-container;
}