@media screen and (min-width: 800px) {
    .gridContainer {
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 0;
        grid-template-areas:
    "bar bar"
    "all all"
    "search search"
    "sidebar product-grid"
    }
}

.all{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #DFDEDB;
    border-top: 1px solid #DFDEDB;
    grid-area: all;
    min-width: 100%;
}

.titleBar {
    grid-area: bar;
    min-width: 100%;
    min-height: 10%;
    background-color: black;
}



