.productGrid {
    grid-area: product-grid;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #DFDEDB;
}

.productContainer {
    padding: 20px;
    border-bottom: 1px solid #DFDEDB;
    border-right: 1px solid #DFDEDB;
}

.productContainer:hover {
    cursor: pointer;
}